/* Responsive styling */

/* Mobile – minimum screen size */

@media only screen and (max-width: 750px) {
    #restaurants-list li {
      max-width: 100%;
    }
    
    .inside {
      display: flex;
      flex-direction: row;
      width: 100vw
    }

    .inside #map-container {
      top: 130px;
      position: relative;
      height: 300px;
      width: 100vw;
    }
    #restaurant-img {
        width: 100%;
    }
    .inside #restaurant-container {
      position: relative;
      width: 100vw;
      padding: 140px 5px 0 0;
      margin: 0px;
      text-align: center;
    }
  
    .inside #reviews-container {
      width: 100vw;
      padding: 5px 0px 5px 10px;
      margin: auto;
    }

    #reviews-list {
      width: 100vw;
    }
    
    #reviews-container h2 {
      text-align: center;
    }
  }
  
  @media only screen and (min-width: 750px) {
    #restaurants-list li {
      max-width: 45%;
    }

    #restaurant-cuisine {
        width: 100%;
    }

  }
  
  @media only screen and (min-width: 1000px) {
    #restaurants-list li {
      max-width: 300px;
    }
  }



